<div class="contenedor-registro">
  <h2>Crear Cuenta</h2>
  
  <p class="alerta error" *ngIf="mensajeError()">{{ mensajeError() }}</p>
  <p class="alerta exito" *ngIf="mensajeExito()">{{ mensajeExito() }}</p>

  <form [formGroup]="registroForm" (ngSubmit)="registrar()">
    <input type="email" formControlName="email" placeholder="Correo electrónico">
    <input type="password" formControlName="password" placeholder="Contraseña (mínimo 6 caracteres)">
    <!-- Campo Repetir Contraseña -->
  <div>
    
    <input id="repetir_password" type="password" placeholder="Repetir contraseña" formControlName="repetir_password">
    
    <div *ngIf="registroForm.get('repetir_password')?.touched && registroForm.get('repetir_password')?.hasError('passwordsMismatch')" class="error">
      Las contraseñas no coinciden.
    </div>
    
    <div *ngIf="registroForm.get('repetir_password')?.touched && registroForm.get('repetir_password')?.hasError('required')" class="error">
      Debes confirmar tu contraseña.
    </div>
  </div>
    
    <input type="text" formControlName="nombre" placeholder="Nombre">
    <input type="text" formControlName="apellido" placeholder="Apellido">
    
    <label>Fecha de Nacimiento:</label>
    <input type="date" formControlName="fecha_nacimiento">
    
    <input type="text" formControlName="tipo_sangre" placeholder="Tipo de Sangre (Ej: O+)">
    <input type="text" formControlName="color_ojos" placeholder="Color de Ojos">
    
    <label>Días de vacaciones al año:</label>
    <input type="number" formControlName="dias_vacaciones">

    <button type="submit" [disabled]="cargando()">
      {{ cargando() ? 'Registrando...' : 'Registrarme' }}
    </button>
  </form>
</div>